@charset "UTF-8";

/* html{
	height:100%;
}

body{
	margin: 0px;
	height:100%;
}
 */

/* .main_div{
	display: flex;
	width: 100%;
	height:100%;
}


.admin_nav{
	width: 250px;
	padding-top:30px;
	background-color: #F4F4F4;
	margin-top:124px;
	flex-shrink: 0;
}

.admin_nav > ul{
	list-style: none;
	margin-bottom: 10px;
	flex-direction:column;
}

.nav_category{
	list-style: none;
	text-decoration:none;
	color:black;
	display:inline-block;
}

.nav_category > a{
	color:black;
	text-decoration:none;
}

.nav-active{
	background-color:gray;
	font-weight:bold;
	transition: all ease 0.5s 0s;
}

.nav-active:hover a{
	color:white;
}

.admin_nav > ul{
	display:flex;
	align-items: center;
	padding:0;
}

.admin_nav > ul > li {
	cursor: pointer;
	font-size: 30px;
	padding: 10px 0px;	
	width:100%;
	text-align:center;
} */

.main_container{
	display:flex;
	flex-direction:column;
	height:100%;
	align-items:center;
	justify-content:center;
	margin: 0 auto;
	min-width: 700px;

}

.form_container > .check_password_form{
	border: none;
	border-bottom:4px solid black;
	outline:none;
	height:40px;
	font-size:25px;
	
}

.checkBtn, .logout_btn{
	border: none;
	border-bottom: 4px solid black;
	height: 30px;
	width: 70px;
	font-weight:bold;
	transition: all ease 0.5s 0s;
}

.checkBtn:hover, .logout_btn:hover{
	background-color:black;
	color:white;
	font-weight:bold;
	border-bottom: 4px solid white;
	cursor:pointer;
}

.checkBtn{
	height:40px;
}

.passwordErrorTag{
	visibility: hidden;
}

/* .my_nav{
	position:absolute;
	float: right;
	right: 20px;
	top: 20px;
	display:flex;
	align-items: center;
}

.current_user_welcome{
	margin-right:10px;
}


.current_user_name{
	text-decoration: underline;
} */

.main_board_parent{
	margin: 0 auto;
}


/* .logo_container{
	position:absolute;
	left:0;
	text-align:center;
	width:250px;
	top:0;
}


.bumil_logo{
	width:120px;
	height:120px;
}
 */


/* .reload_img{
	width:25px;
	height:25px;
	margin-right:10px;
	cursor:pointer;
}
 */
