@charset "UTF-8";

/* html{
	height:100%;
}

body{
	margin: 0px;
	height: 100%;
} */

.form_div{
	height:100%;
	margin: 0 auto;
	width: 500px;
}

.form_container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 350px;
	margin: 0 auto;
	height: 100%;
}

.form_container > input{
	border: none;
	border-bottom: 3px solid black;
	outline:none;
	height:30px;
	font-size:25px;
}

.form_buttons{
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}

.form_header_label{
	font-size: 20px;
	font-weight: bold;
}

.login_error_tag{
	text-align: center;
	font-size: 18px;
	margin-bottom: 40px;
}

/* .hidden{
	visibility: hidden;
} */

#registerBtn{
	margin-right: 10px;
}

.loginBtn:hover{
	cursor:pointer;
	background-color:black;
	color:white;
	border-bottom: 4px solid white;
}

.loginBtn{
	border: none;
	border-bottom: 4px solid black;
	height: 40px;
	width: 80px;
	font-weight:bold;
}

/* .logo_container{
	position:absolute;
	left:0;
	text-align:center;
	width:250px;
	top:0;
}


.bumil_logo{
	width:120px;
	height:120px;
} */


